<!DOCTYPE HTML>
<html>

<head>
    <link href="{{url_for('static', filename='workspace_style.css')}}" rel="stylesheet" />
    <title>Banana Archive</title>
</head>

<body>
    <div class="navbar">
        <ul class="navbar-list">
            <li>
                <h1>Snickr Workspaces</h1>
            </li>
            <li><a href="workspace_space.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ul>
    </div>

    <div class="main-content">

        <aside class="sidebar">
            <div class="multi-channels">
                <h2>Channels</h2>
                <p class="bigger">#general (1)</p>
                <p class="bigger">#homework-help (2)</p>
                <p class="bigger"><a href="unknown_channel.html">#banana (?)</a></p>
            </div>
            <hr>
            <div class="multi-channels">
                <h2>Private Messages</h2>
                <p class="bigger">Alice M.</p>
                <p class="bigger">Janice B.</p>
                <p class="bigger">Mike G.</p>
            </div>
            <hr>
            <div class="multi-channels">
                <button>Create New Channel</button>
            </div>
        </aside>

        <main class="workspace-body">
            <h4>Create A Channel</h4>
            <form action="/createChannel" method="post">
                <div class="input-combo">
                    <label for="channel-name-input">
                        <p>Channel Name:</p>
                    </label>
                    <input type="text" id="channel" name="channel-input">
                </div>
                <div class="input-combo">
                    <label for="workspace-channels">
                        <p>Select Users:</p>
                    </label>
                    <select name="users-channel" class="add-users">
                        <option value="user1">User 1</option>
                        <option value="user2">User 2</option>
                    </select>
                    <input type="submit" class="add-button" value="Add">
                </div>
                <div class="input-combo">
                    <input type="submit" class='submit-button' value="Create">
                </div>
            </form>
            <p>Current Channel Members:</p>
            <ul>
                <li><a target="_blank">User 1</a></li>
                <li><a target="_blank">User 2</a></li>
                <li><a target="_blank">User 3</a></li>
                <li><a target="_blank">User 4</a></li>
            </ul>
        </main>
    </div>
</body>

</html>