<!DOCTYPE HTML>
<html>

<head>
    <link href="{{url_for('static', filename='workspace_style.css')}}" rel="stylesheet" />
    <title>Banana Archive</title>
</head>

<body>
    <div class="navbar">
        <ul class="navbar-list">
            <li>
                <h1>Snickr Workspaces</h1>
            </li>
            <li><a href="workspace_space.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ul>
    </div>
    <div class="main-content">

        <aside class="sidebar">
            <div class="multi-channels">
                <h2>Channels</h2>
                <p class="bigger">#general (1)</p>
                <p class="bigger">#homework-help (2)</p>
                <p class="bigger"><a href="unknown_channel.html">#banana (?)</a></p>
            </div>
            <hr>
            <div class="multi-channels">
                <h2>Private Messages</h2>
                <p class="bigger">Alice M.</p>
                <p class="bigger">Janice B.</p>
                <p class="bigger">Mike G.</p>
            </div>
            <hr>
            <div class="multi-channels">
                <button>Create New Channel</button>
            </div>
        </aside>

        <main class="workspace-body">
            <h2>Channel Name</h2>
            <section class="channel-messages">
                <div>
                    <p>You have been invited into the #banana channel</p>
                    <p><em>There are 5 other people in this channel</em></p>
                </div>
                <div>
                    <button>Accept Invite</button>
                    <button>Reject Channel Invite</button>
                </div>
                <p><em>Done!</em></p>
            </section>
        </main>
    </div>
</body>

</html>