:root {
    --font-family: Helvetica, Arial, sans-serif;
    --font-size: 3rem;
}

.collection-flex {
    display: flex;
    gap: 5px;
}

.sidebar {
    border-right-color: lightblue;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    padding-right: 20px; 
    border-style: solid;
    border-radius: 2px;
    min-width: 20vw;
    display: none;
    transition: visibility 10s 2s;
}

#sidebar-button {
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#sidebar-button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.content {
    min-width: 40vw;
    padding-right: 10px;
}

.info-screen {
    border-left-color: lightblue;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    border-radius: 4px;
    padding-left: 20px;
    min-width: 20vw;
}

.codelist {
    overflow: auto;
    max-height: 80vh;
}

.code-button {
    border-color: pink;
    border-style: solid;
    border-radius: 1px;
    padding: 10px;
    margin: 10px;
    transition: border-color 1s, box-shadow 1s;
}

.code-button:hover {
    border-color:deeppink;
    border-radius: 2px;
    color: blue;   
}

.code-button-selected {
    box-shadow: 3px 3px 3px lightsteelblue;
}

.code-button-disabled {
    background: gainsboro;
}

.code-button-disabled:hover {
    background: lightgray;
}

.airline {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px gainsboro solid;
    padding: 10px;
    transition: border-color 1s, box-shadow 1s;
}

.airline:hover {
    border-radius: 5px;
    border-color: slategray;
    border-style: solid;
}

.airline-active {
    box-shadow: 3px 3px 2px grey;
}

.code {
    font-weight: 600;
    font-size: calc(var(--font-size) * 0.3)
}

.airline-logo {
    border: 1px solid black;
}

.grid-info {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
}

.progress-meter {
    border: 1px plum solid;
    min-width: fit-content;
    padding: 15px;
    margin-top: 10px;
}

#flight-progress {
    margin: 5px;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.intro-text {
    font-size: calc(var(--font-size) * 0.25);
}

#chosen-flight-header {
    margin-bottom: 0px;
}

#chosen-flight-image {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
}

.error-header {
    color: red;
    font-weight: 400;
}

#progress-header {
    font-size: calc(var(--font-size) * 0.3);
}

/* DEFAULT PROPERTIES */

h1 {
    font-size: var(--font-size);
    font-family: var(--font-family);
    margin-bottom: 15px;
}

h2 {
    font-size: calc(var(--font-size) * 0.8);
    font-family: var(--font-family);
    margin-bottom: 10px;
}

h4 {
    font-size: calc(var(--font-size) * 0.7);
    font-family: var(--font-family);
    margin-bottom: 10px;
}

h5 {
    font-size: calc(var(--font-size) * 0.6);
    font-family: var(--font-family);
}

p {
    font-size: calc(var(--font-size) * 0.2);
    font-family: var(--font-family);
}

#note {
    font-style: oblique;
}

.airline-header {
    margin-left: 5px;
    margin-top: 7px;
}

#sidebar-button {
    border-color: gainsboro;
    border-style: solid;
    border-radius: 1px;
}